# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, log_loss, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler

# Dataset

In [3]:
allen = pd.read_csv("Dataset.csv")

In [4]:
allen.head()

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0

# Label Encoding

In [17]:
l1 = preprocessing.LabelEncoder()
f1 = l1.fit_transform(allen['Gender']) 
f1 = pd.DataFrame(data=f1, columns=['Gender'])
allen['Gender'] = f1['Gender']

In [18]:
allen.head()

   Gender  Age  Salary  Purchase Iphone
0       1   19   19000                0
1       1   35   20000                0
2       0   26   43000                0
3       0   27   57000                0
4       1   19   76000                0

# Training - Random Forest

In [23]:
x = allen.drop(['Purchase Iphone'],axis=1)

In [24]:
y = allen['Purchase Iphone']

In [25]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.3,random_state=1)

In [26]:
model = RandomForestClassifier()
model.fit(xtrain,ytrain)
p = model.predict(xtest)

# Assignment

### Confusion Matrix

In [12]:
print(confusion_matrix(ytest,p))

[[40  8]
 [ 3 29]]

### Specificity and Sensitivity

In [13]:
c = confusion_matrix(ytest,p)
print('Specificity: ', c[1,1]/(c[1,0]+c[1,1]))
print('Sensitivity: ', c[0,0]/(c[0,0]+c[0,1]))

Specificity:  0.90625
Sensitivity:  0.8333333333333334

### Accuracy

In [14]:
c = confusion_matrix(ytest,p)
print('Accuracy: {:.5%}'.format((c[0,0]+c[1,1])/sum(sum(c))))

Accuracy: 86.25000%